@charset "utf-8";
$btnColor: #ffbb42;
$textColor: #394b50;

$fz: 14px;
/*
main fonts
 */
$ff: 'OpenSans', sans-serif;
/*
lato fore h2
 */
$fzH2: 24px;
$ff2: 'Lato';
/*
headers fonts
 */
$fzH1: 30px;
$ffHeaders:'GothamBlackRegular';
$ffBrandonGrotesque: 'BrandonGrotesque-Bold';

$inputTextColor: #6e6e6e;
%wrapper{
  max-width: 1170px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
%flex{
  display: flex;
  flex-wrap: wrap;
}
%yellowBtn{
  color: white;
  background: #ffbb42;
  transition: all 0.5s ease;
}
section {
  position: relative;
  display: block;
  box-sizing: border-box;
}
%head{
  margin-top: 80px;
  text-transform: uppercase;
  font-family: $ffHeaders;
  font-size: $fzH2;
}
%headDescription{
  margin-top: 10px;
  width: 60%;
  font-family: $ff;
  font-weight: 300;
}
%blocksCol{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

