@import "fonts.css";
@import "settings";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: $fz;
  font-family: $ff;
}
@import "header";
@import "services";
@import "aboutUs";
@import "price";
@import "howItWork";
@import "happyClients";
@import "newsLetter";