@import url(fonts.css);
/*
lato fore h2
 */
/*
headers fonts
 */
nav, header .wrapper, #our_services div, #our_services div div {
  max-width: 1170px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

nav, nav div, header .wrapper, header .wrapper form, header .wrapper div:last-of-type, #our_services div, #our_services div div, #our_services div div div, #our_services div div div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav div a:hover, header .wrapper form input[type="button"], header .wrapper div:last-of-type span:hover {
  color: white;
  background: #ffbb42;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

section {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header .wrapper h1, #our_services div h2 {
  margin-top: 80px;
  text-transform: uppercase;
  font-family: "GothamBlackRegular";
  font-size: 24px;
}

header .wrapper p, #our_services div p {
  margin-top: 10px;
  width: 60%;
  font-family: "OpenSans", sans-serif;
  font-weight: 300;
}

#our_services div {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-family: "OpenSans", sans-serif;
}

nav {
  font-size: 14px;
  background: #ffffff;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
nav img {
  width: 50px;
  height: 50px;
  margin: 25px 0;
}
nav div {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 75%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav div a {
  margin: 25px 0;
  color: #868686;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid transparent;
  border-radius: 2px;
  -webkit-transition: background 0.5s ease;
  transition: background 0.5s ease;
}

header {
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(83%, #6699cc), color-stop(17%, white));
  background: linear-gradient(#6699cc 83%, white 17%);
  min-height: 100vh;
}
header .wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: white;
}
header .wrapper h1 {
  font-size: 30px;
  margin-top: 100px;
}
header .wrapper form {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 35px 0;
}
header .wrapper form input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 260px;
  border: 1px solid transparent;
  border-radius: 2px;
  outline: none;
  font-family: "OpenSans", sans-serif;
  color: #6e6e6e;
  margin: 7px 7px;
  padding: 15px 17px;
}
header .wrapper div:first-of-type {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 60%;
  height: 350px;
  margin-top: 65px;
  background: url(../img/Laptop.png) no-repeat center;
  background-size: 100% 100%;
}
header .wrapper div:first-of-type img {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 70%;
  height: 269px;
  margin-top: 19px;
}
header .wrapper div:last-of-type {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
header .wrapper div:last-of-type span {
  margin: 25px 4px;
  width: 15px;
  height: 15px;
  border: 1px solid #1ca8dd;
  border-radius: 50%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
header .wrapper div:last-of-type span:hover {
  border-color: #ffbb42;
}

@media screen and (max-width: 1024px) {
  header .wrapper div:first-of-type {
    width: 100%;
  }

  nav div {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  nav div a {
    margin: 0;
    padding: 10px 4px;
  }

  nav img {
    display: none;
  }
}
#our_services {
  height: 100vh;
}
#our_services div {
  color: #394b50;
}
#our_services div div {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 80px;
  max-width: 1170px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#our_services div div div {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 180px;
  margin: 15px 0;
}
#our_services div div div.col {
  width: calc(50% - 30px);
}
#our_services div div div .svg-inline--fa {
  width: 3.15em;
  height: 3.15em;
  color: #709dca;
  margin-bottom: 30px;
}
#our_services div div div div {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 82%;
  text-align: left;
  padding: 48px 0;
  color: #394b50;
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
}
#our_services div div div div h3 {
  width: 100%;
}
#our_services div div div div p {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  #our_services div div div.col {
    width: calc(100% - 0px);
  }

  #our_services div div div div {
    padding: 30px 0;
  }
}

/*# sourceMappingURL=style.css.map */