@import url(fonts.css);
/*
lato fore h2
 */
/*
headers fonts
 */
nav, header .wrapper, #our_services div, #our_services div div, #aboutUs div, #price .price__item {
  max-width: 1170px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

nav, nav div, header .wrapper, header .wrapper form, header .wrapper div:last-of-type, #our_services div, #our_services div div, #our_services div div div, #our_services div div div div, #aboutUs div, #aboutUs div .aboutUs__container, #price, #price .price__header, #price .price__item, #price .price__item div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav div a:hover, header .wrapper form input[type="button"], header .wrapper div:last-of-type span:hover, #aboutUs div .aboutUs__container a, #price .price__item div a {
  color: white;
  background: #ffbb42;
}

section {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header .wrapper h1, #our_services div h2, #price .price__header h2 {
  margin-top: 80px;
  text-transform: uppercase;
  font-family: "GothamBlackRegular", serif;
  font-size: 24px;
}

header .wrapper p, #our_services div p, #price .price__header article {
  margin-top: 10px;
  width: 60%;
  font-family: "OpenSans", sans-serif;
  font-weight: 300;
}

#our_services div, #price, #price .price__header {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

nav div a:hover, header .wrapper form input[type="button"], header .wrapper div:last-of-type span:hover, #aboutUs div .aboutUs__container a, #price .price__item div a, nav div a, header .wrapper div:last-of-type span, #aboutUs div .aboutUs__container a:hover, #price .price__item div, #price .price__item div:hover {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-family: "OpenSans", sans-serif;
}

nav {
  font-size: 14px;
  background: #ffffff;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
nav img {
  width: 50px;
  height: 50px;
  margin: 25px 0;
}
nav div {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 75%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav div a {
  margin: 25px 0;
  color: #868686;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid transparent;
  border-radius: 2px;
}

header {
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(83%, #6699cc), color-stop(17%, white));
  background: linear-gradient(#6699cc 83%, white 17%);
  min-height: 100vh;
}
header .wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: white;
}
header .wrapper h1 {
  font-size: 30px;
  margin-top: 100px;
}
header .wrapper form {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 35px 0;
}
header .wrapper form input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 260px;
  border: 1px solid transparent;
  border-radius: 2px;
  outline: none;
  font-family: "OpenSans", sans-serif;
  color: #6e6e6e;
  margin: 7px 7px;
  padding: 15px 17px;
}
header .wrapper div:first-of-type {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 60%;
  height: 350px;
  margin-top: 65px;
  background: url(../img/Laptop.png) no-repeat center;
  background-size: 100% 100%;
}
header .wrapper div:first-of-type img {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 70%;
  height: 269px;
  margin-top: 19px;
}
header .wrapper div:last-of-type {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
header .wrapper div:last-of-type span {
  margin: 25px 4px;
  width: 15px;
  height: 15px;
  border: 1px solid #1ca8dd;
  border-radius: 50%;
}
header .wrapper div:last-of-type span:hover {
  border-color: #ffbb42;
}

@media screen and (max-width: 1024px) {
  header .wrapper div:first-of-type {
    width: 100%;
  }

  nav div {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  nav div a {
    margin: 0;
    padding: 10px 4px;
  }

  nav img {
    display: none;
  }
}
#our_services div {
  color: #394b50;
}
#our_services div div {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 80px;
  max-width: 1170px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#our_services div div div {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 180px;
  margin: 15px 0;
}
#our_services div div div.col {
  width: calc(50% - 30px);
}
#our_services div div div .svg-inline--fa {
  width: 3.15em;
  height: 3.15em;
  color: #709dca;
  margin-bottom: 30px;
}
#our_services div div div div {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 82%;
  text-align: left;
  padding: 48px 0;
  color: #394b50;
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
}
#our_services div div div div h3 {
  width: 100%;
}
#our_services div div div div p {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  #our_services div div div.col {
    width: calc(100% - 0px);
  }

  #our_services div div div div {
    padding: 30px 0;
  }
}
#aboutUs {
  background: #ffbb42 url(../img/aboutUs.jpg) no-repeat left;
  background-size: 50% 100%;
  color: white;
}
#aboutUs div {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
#aboutUs div .aboutUs__empty {
  width: 50%;
}
#aboutUs div .aboutUs__container {
  width: 50%;
  min-height: 70vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#aboutUs div .aboutUs__container h2 {
  margin: auto 1px 2.15rem 5.7rem;
  text-transform: uppercase;
  font-family: "GothamBlackRegular", serif;
  font-size: 24px;
}
#aboutUs div .aboutUs__container article {
  line-height: 25px;
  margin: 0 1px 0 5.7rem;
}
#aboutUs div .aboutUs__container a {
  text-align: center;
  padding-top: 13px;
  width: 150px;
  height: 45px;
  margin: 2.15rem 1px auto 5.7rem;
  border: 1px solid #e7ad48;
  border-radius: 2px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Lato", serif, serif;
}
#aboutUs div .aboutUs__container a:hover {
  background: #6699cc;
}

@media screen and (max-width: 800px) {
  #aboutUs {
    background-size: 0 0;
  }

  #aboutUs div .aboutUs__empty {
    width: 0;
  }

  #aboutUs div .aboutUs__container {
    width: 100%;
    padding: 2rem;
    min-height: 0;
  }

  #aboutUs div .aboutUs__container h2 {
    margin: auto 0 1rem 0;
  }

  #aboutUs div .aboutUs__container article {
    margin: 0;
  }

  #aboutUs div .aboutUs__container a {
    margin: 1rem 0 auto 0;
  }
}
#price {
  background: #e7edf3;
}
#price .price__header {
  color: #394b50;
}
#price .price__item {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 80px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#price .price__item div {
  background: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding-top: 4%;
  color: #394b50;
}
#price .price__item div.col {
  width: 33%;
}
#price .price__item div:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  background: #6699cc;
  border: 1px solid transparent;
  border-radius: 5px;
  color: white;
}
#price .price__item div:hover .price__item__cost {
  color: white;
}
#price .price__item div:hover .price__item__month {
  color: white;
}
#price .price__item div:hover span {
  color: white;
}
#price .price__item div h3 {
  font-family: "Lato", serif;
  font-weight: 300;
  font-size: 24px;
  text-transform: uppercase;
}
#price .price__item div .price__item__cost {
  font-family: "Lato", serif;
  font-weight: 700;
  font-size: 52px;
  color: #ffbb42;
  border-bottom: 0 solid #b5bbc1;
}
#price .price__item div .price__item__month {
  margin: 0 10% 7% 10%;
  color: #394b50;
  border-bottom: 0 solid #b5bbc1;
}
#price .price__item div span {
  margin: 5px 10%;
  font-family: "Lato", serif;
  font-weight: 300;
  font-size: 16px;
  color: #b5bbc1;
  text-transform: uppercase;
  border-bottom: 1px solid #b5bbc1;
}
#price .price__item div a {
  width: 130px;
  height: 45px;
  margin: 40px auto;
  text-transform: uppercase;
  text-decoration: none;
  padding-top: 4%;
  border-radius: 4px;
}

@media screen and (max-width: 800px) {
  #price .price__item div.col {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */